    <div class="container">
        <div class="row-cols-6">
        <a asp-area="Administration" asp-controller="Order" asp-action="GetAll" class=""> Заказы </a>
        </div>
        <div class="row-cols-6">
        <a asp-area="Administration" asp-controller="User" asp-action="GetAll" class=""> Пользователи </a>
        </div>
        <div class="row-cols-6">
        <a asp-area="Administration" asp-controller="Role" asp-action="GetAll" class="">Роли </a>
        </div>
        <div class="row-cols-6">
        <a asp-area="Administration" asp-controller="Product" asp-action="GetAll" class=""> Продукты </a>
        </div>
    </div>
